@model IEnumerable<CafeMenuProject.Models.Property>

@{
    ViewData["Title"] = "Özellikler";
}

<h1>Özellikler</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Özellik Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Anahtar</th>
            <th>Değer</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PropertyId" class="btn btn-sm btn-warning">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@item.PropertyId" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
